@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('react-phone-input-2/lib/style.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

a {
  color: #2558e5;
  text-decoration: inherit;
}
a:hover {
  color: #3f6be6;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  overflow: hidden;
}

.react-tel-input {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Poppins';
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

.react-tel-input .flag-dropdown {
  position: static;
  border: 1px solid #dcdee5;
  background-color: transparent;
  border-radius: 3px;
  padding: 0.5rem;
}

.react-tel-input .form-control {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  height: auto;
  border: 1px solid #dcdee5;
  border-radius: 3px;
}
